<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Archive Cleaner</title>
    <style>
        html, body {
            height: 100%;
            margin: 0;
            padding: 0;
        }

        body {
            background-color: #4d4d4d;
            color: #ffffff;
            display: flex;
            flex-direction: column;
        }

        center {
            text-align: center;
        }

        #container {
            flex: 1;
            display: flex;
            max-height: 60%;
            width: 90%;
            margin: 0 auto;
        }

        #video-container {
            width: 30%;
            height: 60%;
            float: right;
        }

        video {
            width: 100%;
            height: 100%;
        }

        #info-container {
            width: 70%;
            height: 60%;
            float: left;
        }
    .hidden {
      display: none;
    }
    </style>
</head>
<body>
    <center><h1>Archive Cleaner</h1></center>
    <% if (noVideo) { %>
  <div id="noVideoMessage">
    <center><h1>No video files found. Please check again later.</h1></center>
    <br>
    <br>
    <center><a href="/" style="color: white;">Retry</a></center>
  </div>
<% } %>

<label for="file">Downloading progress:</label>
<progress id="file" value="1" max="15"> 10% </progress>
    <div id="container">
      <div id="info-container">
          <center><h2>Video Information</h2></center>
          <p>Filename: <%= videoInfo.videoname %></p>
          <p>Duration: <%= videoInfo.duration %></p>
          <p>Resolution: <%= videoInfo.resolution.width %>x<%= videoInfo.resolution.height %></p>
          <p>Codec: <%= videoInfo.codec %></p>

          <center><h2>Rename/Move File</h2></center>
      <center>    <form method="post" action="/rename">
                          <label for="newCollection">Collection:</label>
              <select id="newCollection" name="newCollection" required>
              <option value="GDAU/AU">Australia(AU)</option>
              <option value="GDAU/NZ">New Zealand (NZ)</option>
              <option value="GDAU/CA">Canada (CA)</option>
              <option value="GDAU/ZA">South Africa (ZA)</option>
              <option value="GDUS">GDUS (USA)</option>
              <option value="GDGB">GDGB (Great Britain)</option>
              <option value="GDJP">GDJP (Japanese)</option>
              <option value="GDFO">GDFO (Food)</option>
              <option value="GDIE">GDIE (Ireland)</option>
              <option value="GDOT">GDOT (Other countries)</option>
              <option value="GDFI">Movies</option>
              </select>
              <label for="newGenre">Genre:</label>
              <select id="newGenre" name="newGenre" required>
              <option value="Children's & Family">Children's & Family</option>
              <option value="Comedy">Comedy</option>
              <option value="Documentries & News">Documentaries & News</option>
              <option value="Drama">Drama</option>
              <option value="Entertainment">Entertainment</option>
              <option value="Game Shows">Game Shows</option>
              <option value="Reality">Reality</option>
              <option value="Lifestyle">Lifestyle</option>
              <option value="Talk Shows">Talk Shows</option>
              <option value="Misc">Misc</option>
              <option value="Movies">Movies</option>
              </select>
<br>
<br>
              <label for="showName">Show Name:</label>
              <input type="text" name="showName" id="showName" required>
     
              <label for="newseason">Season Number:</label>
              <input type="number" name="newseason" id="newseason" required>
         
              <label for="newepisode">Episode Number:</label>
              <input type="number" name="newepisode" id="newepisode" required>
        
              <label for="episodeName">Episode Name:</label>
              <input type="text" name="episodeName" id="episodeName" required>
     
              <input type="text" name="currentVideo" id="currentVideo" value="<%= videoInfo.filename %>" style="display: none;">
              <br>
<br>
              <button type="submit" onsubmit="combineDropdownValues()">Move</button>
          </form>
          <br>
          <script>
  // Wait for 30 seconds (30000 milliseconds) before showing the form
  setTimeout(function() {
    // Get the form element by id
    const form = document.getElementById('unsurebutton');

    // Show the form by removing the "hidden" class
    form.classList.remove('hidden');
  }, 30000); // 30 seconds

</script>

<!-- Your form with the "hidden" class initially -->
<form method="get" action="/next" class="hidden" id="unsurebutton">
  <input type="text" name="unsure" id="unsure" value="true" style="display: none;">
  <input type="text" name="currentVideo" id="currentVideo" value="<%= videoInfo.filename %>" style="display: none;">
  <button type="submit">Unsure</button>

</form>
</center>
      </div>
        <div id="video-container">
<center><b>Please Note video may load slowly<b><center>
<br>
            <video controls>
                <source src="/video<%= videoInfo.videoname %>">
                Your browser does not support the video tag.
            </video>
        </div>
    </div>

<center>
<h1>Resources</h1>
<h3>
<a target="blank_" href="https://discord.com/channels/1005388927135391885/1098572189126639656/1145667383764205669" style="color:white;">Metadata Standard</a>
<br>
<a target="blank_" href="https://discord.com/channels/1005388927135391885/1098572189126639656/1145664379199684669" style="color:white;">Genre Categories</a>
<br>
<a target="blank_" href="https://discord.com/channels/1005388927135391885/1098572189126639656/1145669263609319486" style="color:white;">Self Help Resources</a>
</h3>
</body>
</html>
